#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  margin: 0 auto;
  text-align: center;

  /* color-scheme: light dark; */
  color: #191919;
  background-color: #e4e4e4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
}
